<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Poppins&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css" />
    <title>Pizza App</title>
</head>

<body>
    <div class="containerAll">
    <!-- Home page content -->
        <div class="left">
            <img src="./images/pizzaAppLogo.png" alt="Pizza App" id="logo"></img>
        </div>
            <div class="hero">
            <h1>FAST AND TASTY</h1>
            <h2 style="font-size: 2.5em;">Check our delicious<br>tastes and choose yours<br><span style="color:#43bdab">FAVOURITE</span></h2>
            </div>

      <main>
      </main>
    <section class="navbar">
        <!-- <img src="/pizzaAppLogo.png" alt="Pizza App Logo">
            <section id="userSection">
                <img src="/user.png" alt="User Image">
                <span>Ania Nowak</span> -->
            </section>
        </section>
        <section class="order-form">
            <div class="form-container">
            </div>
        </section>
        <div id="allergensBox" class="allergensBox"></div>
        <section class="products">
            <div id="allergensContainer" style="padding-left: 150px;"></div>
            <div id="allergensContainer" style="padding-left: 400px;"></div>
        <div id="container" class="container">
            <!-- <div class="element"></div> -->
        </div>
        
    </section>
</div>
<div class="button_plus"></div>
</body>

</html>